@import "@/sass/util/reset-btn";

.language-switcher {
  display: inline-flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;

  // .language-switcher__item
  &__item {
    @include reset-btn;

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: var(--font-medium);
    line-height: 5.4rem;
    color: var(--color-heading);
    text-align: center;

    transition: var(--transition);

    &:hover, &:focus, &:active {
      color: var(--color-primary-hover);
    }

     // .language-switcher__item.active
    &.active {
      color: var(--color-primary);
    }
  }
}
