.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 100%;
  max-width: 42rem;

  // .login__title
  &__title {
    font-size: 3.4rem;
    font-weight: var(--font-medium);
    color: var(--color-heading);
    text-align: center;
  }

  // .login__form
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // .login__loader
  &__loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
