.section {
  display: flex;
  flex-direction: column;

  // .section__header
  &__header {
    display: block;
    padding: 1.6rem 0;

    // .section__header-wrapper
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  // .section__body
  &__body {
    display: block;

    // .section__body_centered
    &_centered {
      margin: auto;
    }
  }

  // .section__footer
  &__footer {
    display: block;
    padding: 1.6rem 0;
  }

  // .section__loader
  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0;

    text-align: center;
  }

  // .section__skeleton
  &__skeleton {
    position: relative;

    overflow: hidden;
    display: inline-block;

    width: 12rem;
    height: 2.8rem;
    border-radius: var(--radius-md);

    background: #e7ecf2;

    &::before {
      content: "";

      position: absolute;
      z-index: 1;
      left: -45%;
      transform: skewX(-45deg);

      width: 45%;
      height: 100%;

      background-image: linear-gradient(to left, rgb(251 251 251 / 5%), rgb(251 251 251 / 30%), rgb(251 251 251 / 60%), rgb(251 251 251 / 30%), rgb(251 251 251 / 5%));

      animation: skeleton-gloss 1s infinite;

      @keyframes skeleton-gloss {
        0% {
          left: -45%;
        }

        100% {
          left: 100%;
        }
      }
    }

    // .section__skeleton_wide
    &_wide {
      width: 16rem;
    }
  }

  // .section__back
  &__back {
    cursor: pointer;

    display: inline-flex;
    gap: 0.3rem;
    align-items: center;
    align-self: flex-start;
    justify-content: center;

    padding: 0.5rem 1.2rem 0.5rem 0.6rem;
    border-radius: var(--radius-md);

    font-size: 1.4rem;
    font-weight: var(--font-bold);
    line-height: 1.8rem;
    color: var(--color-text-semilight);
    text-align: center;

    background: #e7ecf2;

    & > .ti {
      flex: 0 0 auto;
      font-size: 1.8rem;
    }
  }

  // .section__title
  &__title {
    display: block;

    font-size: 2.4rem;
    font-weight: var(--font-bold);
    line-height: 2.8rem;
    color: var(--color-heading);

    & + .section__subtitle {
      margin: 0.8rem 0 0;
    }

    & + .section__body,
    & + .section__loader {
      margin: 1.6rem 0 0;
    }

    // .section__title_decorated
    &_decorated {
      display: flex;
      gap: 1.6rem;
      align-items: center;

      &::after {
        content: "";

        display: block;
        flex: 1 1 auto;

        width: auto;
        height: var(--border-width-md);

        background: var(--color-border-medium);
      }
    }
  }

  // .section__subtitle
  &__subtitle {
    display: block;

    width: 100%;

    font-size: 1.8rem;
    font-weight: var(--font-medium);
    line-height: 1;
    color: var(--color-heading);

    & + .section__body,
    & + .section__loader {
      margin: 1.6rem 0 0;
    }
  }

  // .section_offset
  &_offset {
    padding: 1.6rem 0;
  }

  // .section_offset-top
  &_offset-top {
    padding-top: 1.6rem;
  }

  // .section_offset-bottom
  &_offset-bottom {
    padding-bottom: 1.6rem;
  }

  // .section_grow
  &_grow {
    flex-grow: 1;
  }

  // .section_sticky-header
  &_sticky-header {
    & > .section__header {
      position: sticky;
      z-index: var(--zi-default);
      top: 0;
      right: 0;
      left: 0;

      padding-bottom: 0.4rem;

      background: rgb(var(--color-body-rgb));
    }

    & > .section__body,
    & > .section__loader {
      padding-top: 1.2rem;
    }
  }

  // .section_sticky-footer
  &_sticky-footer {
    & > .section__footer {
      position: sticky;
    z-index: var(--zi-default);
    right: 0;
    bottom: 0;
    left: 0;

    padding-top: 0.4rem;

    background: linear-gradient(180deg, rgb(var(--color-body-rgb) / 0%) 0%, rgb(var(--color-body-rgb)) 100%);
    }

    & > .section__body,
    & > .section__loader {
      padding-bottom: 1.2rem;
    }
  }
}
